/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THEME */
:root {
  --yellow: #F4D04E;
  --grey-1: #111111;
  --grey-2: #6B6B6B;
  --white: #FFFFFF;

  /* optional spacing scale */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
}

/* CARD */
.card {
  background: var(--white);
  border: 1px solid black;
  border-radius: 15px;
  width: 320px;
  max-width: 90vw;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  box-shadow:
    10px 10px 0px #000000,
    0px 20px 40px rgba(0, 0, 0, 0.2);
}

.card__img {
  width: 100%;
  height: auto;
}

/* ELEMENTS */
.tag {
  background-color: var(--yellow);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 4px;
  font-weight: 700;
  width: fit-content;
}

.publication {
  font-size: 14px;
  color: var(--grey-1);
}

.title {
  font-size: 1.3rem;
  color: var(--grey-1);
}
.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.hook {
  color: var(--grey-2);
  line-height: 1.5;
  font-size: 16px;
}

/* AUTHOR */
.author {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.author__img {
  width: 32px;
  height: 32px;
}

.author__name {
  font-size: 14px;
  font-weight: 700;
}

/* FOOTER */
.attribution {
  position: fixed;
  bottom: 4px;
  font-size: 11px;
}

@media (max-width: 375px) {
  .attribution {
    font-size: 10px;
  }
}
